.footer{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &__btn{
        button{
            display: flex;
            gap: 15px;
            align-items: center;
            border: 0;
            padding: 10px 20px;    
            border-radius: 15px;
            box-shadow: 4px 4px 0 var(--secondary-color);
            background: var(--primary-color);

            p{
                width: 80px;
                text-align: center;
                font-family: 'Caveat';
                font-size: 24px;
            }
        }

        #back img{
            transform: rotate(180deg);
        }
    }

    .fav{
        width: 30px;
        height: 30px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary-color);
        box-shadow: 4px 4px 0 var(--secondary-color);
        border-radius: 15px;
    }
}