@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #FFFED9;
    --primary-color: #FFDE8D;
    --primary-light-color: #F9F7BB;
    --secondary-color: #DE7047;
    --secondary-shadow-color: rgba(222, 122, 71, 0.5);
    --grayscale-color: #CCC;
    --text-color: #443B25;
}

* {
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
}