.divider {
    min-width: 30px;
    height: 540px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 0px var(--secondary-shadow-color);
}

.horizontal{
    position: absolute;
    height: 50px;
    width: 30%;
    top: -10px;
    left: 50%; 
    transform: translateX(-50%); 
}